body{
    padding: 10px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.folder-children{
    padding-left: 2rem;
}
.icon { 
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.name {
    margin-right: 4px;
}

.expand-button{
    margin-right: 4px;
}
